#contactme{
	width: 100%;
    padding-top: 10%;
}

#text { 
    width: 380px;
    height: 190px;
    border-radius: 3px;
    border: 1px solid #CCC;
    padding: 8px;
    font-weight: 200;
    font-size: 15px;
    font-family: Verdana;
    box-shadow: 1px 1px 5px #CCC;
  } 

#email {
    width: 380px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #CCC;
    padding: 8px;
    font-weight: 200;
    font-size: 15px;
    font-family: Verdana;
    box-shadow: 1px 1px 5px #CCC;
}

/**end**/
.wrapper {
    max-width: 1280px;
    margin: auto;
}
footer {
    background: black;
    color: white;
    padding: 2% 3%;
}